.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 40px 0 40px 0;
  padding-left: 44px;
  font: bold 24px/32px pt_serif, arial, helvetica, sans-serif;

  //width: 190px;
  //height: 35px;
  //background: url('img/logo.svg')
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
}
.logo__circle_color_dark-blue {
  background: #0056EC;
  border-radius: 50%;
}

.logo__circle_color_blue {
  background: #C8DBFB;
  left: 8px;
  top: 56%;
  border-radius: 50%;
  opacity: .7;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right:0;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
    border: dashed 1px red
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
}

.main-content__title {
  padding-bottom: 40px;
}

.main-content__opisanie {
  padding-bottom: 40px;
}

.image-content {
    width: 30%;
}
