.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px red;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 40px 0 40px 0;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
  border: dashed 1px red;
}
.menu__item:last-child {
  padding-right:0;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
    border: dashed 1px red
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
}

.main-content__title {
  padding-bottom: 40px;
}

.main-content__opisanie {
  padding-bottom: 40px;
}

.image-content {
    width: 30%;
}
